<div class="container mt-5">
  <h2 class="mb-5">商品詳細</h2>

  <div class="row">
    <!-- 左側：画像 -->
    <div class="col-md-4 text-center mb-4 mb-md-0">
      <%= image_tag @item.image, class: "img-fluid", style: "max-width: 100%;" %>
    </div>

    <div class="col-md-8 pl-5">
      <div class="mb-3">
        <strong>商品名:</strong>
        <%= @item.name %>
      </div>

      <div class="mb-3">
        <strong>商品詳細:</strong>
        <%= @item.detail %>
      </div>

      <div class="mb-3">
        <strong>ジャンル:</strong>
        <%= @item.genre&.name %>
      </div>

      <div class="mb-3">
        <strong>税抜価格:</strong>
        <%= number_to_currency(@item.price_without_tax, unit: "¥", precision: 0) %>
      </div>

      <div class="mb-3">
        <strong>ステータス:</strong>
        <% if @item.on_sale? %>
          <span class="text-success">販売中</span>
        <% else %>
          <span class="text-secondary">販売停止中</span>
        <% end %>
      </div>


      <div class="mt-4">
        <%= link_to "編集", edit_admin_item_path(@item), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
