<div class="container mt-5">
  <div class="row">
    <!-- ジャンル検索 -->
    <div class="col-md-3">
      <%= render "public/items/genre_search", genres: @genres, items: @serch_items %>
    </div>

    <!-- 紹介文 -->
    <div class="col-md-9">
      <div class="welcome-text mx-auto" style="margin-top: 3rem; margin-bottom: 3rem; max-width: 600px;">
        <p style="margin-bottom: 0.5rem;">ようこそながのCAKEへ！</p>
        <p style="margin-bottom: 0.5rem;">このサイトは、ケーキ販売のECサイトになります。</p>
        <p style="margin-bottom: 0.5rem;">会員でない方も商品の閲覧はできますが、</p>
        <p style="margin-bottom: 0.5rem;">購入には会員登録が必要になります。</p>
      </div>

      <!-- 新商品 -->
      <h1 style="margin-top: 3rem; margin-bottom: 2rem;">新商品</h1>

      <div class="row">
        <% @items.each do |item| %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <%= link_to item_path(item) do %>
              <div class="card h-100">
                <%= image_tag item.image, class: "card-img-top", style: "max-width: 300px;" %>
                <div class="card-body">
                  <h5 class="card-title mb-1"><%= item.name %></h5>
                  <p class="card-text">¥<%= item.price_without_tax %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
