<h1>管理者トップ（注文履歴一覧）</h1>

<% if @orders.present? %>
  <table>
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文数</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <%#  %>
    <tbody>
      <% @orders.each do |o| %>
        <tr>
          <%# local 年月日のフォーマット %>
          <td><%= l(o.created_at) rescue o.created_at %></td>
          <%# if customer = nil, return nil、普通はありえないことなんですが、 念の為 if nil show "-"" にします %>
          <td><%= o.customer&.first_name || "#{o.customer&.last_name} #{o.customer&.first_name}" || "—" %></td>
          <td><%= o.try(:items_count) || "—" %></td>
          <td><%= o.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @orders if respond_to?(:paginate) %>
<% else %>
  <p>注文データがありません。</p>
<% end %>