<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><label>メールアドレス</label><%= f.email_field :email, placeholder: "sample@example.com" %></div>
  <div style="margin-top:8px;"><label>パスワード</label><%= f.password_field :password %></div>
  <div style="margin-top:12px;"><%= f.submit "ログイン", class: "btn btn-primary" %></div>
<% end %>

<hr>
<p>会員登録がまだの方は <%= link_to "こちら", new_customer_registration_path %> から新規登録へ。</p>