<h3>商品一覧（全<%= @total_count %>件）</h3>

<div class="row">
  <% @items.each do |item| %>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="card">
        <%= image_tag item.image, class: "card-img-top", style: "max-width: 300px;" %>
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.detail %></p>
          <p class="card-text">¥<%= item.price_without_tax %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @items %>
</div>
