<h1>製品詳細</h1>

<div class="product-detail">
  <div class="mb-3">
    <%= image_tag @item.image, class: "card-img-top", style: "max-width: 300px;" %>
  </div>

  <div class="mb-2">
    <strong>商品名：</strong><%= @item.name %>
  </div>

  <div class="mb-2">
    <strong>詳細：</strong><%= @item.detail %>
  </div>

  <div class="mb-2">
    <strong>価格：</strong>¥<%= @item.price_without_tax %>
  </div>

  <div class="mb-3">
    <strong>販売状況：</strong><%= @item.is_active ? "販売中" : "販売停止" %>
  </div>

  <div class="product-purchase mt-3">
      <%= form_with model: @cart_item, data: { turbo: false } do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, *[1..10] %>
        <%= f.submit "カートに入れる", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
