<!DOCTYPE html>
<html>
  <head>
    <title>Nakano Cake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Google Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@400;600&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">

    <%# Font Awesome %>
    <script src="https://kit.fontawesome.com/d31d06fbbc.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- sticky footer: flex column + main.flex-fill -->
  <body class="d-flex flex-column min-vh-100">
    <%= render "layouts/header" %>

    <main role="main" class="flex-fill py-4">
      <div class="container">
        <%= render "layouts/flash" %>
        <%= yield %>
      </div>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>